<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/login.js"></script>