<div>
    <h1>¿Olvidaste tu contraseña? Todo bobo</h1>
    <form id="recoverForm">
        <label>Email</label>
        <input name="email">
        <input type="submit">
    </form>
</div>

<script src="/js/recover.js"></script>