<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="name">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>