<div>
    <form id="petForm">
        <label for="name">Nombre</label>
        <input id="name" name="name"></input>
        <label for="specie">Especie</label>
        <input id="specie" name="specie"></input>
        <label for="age">Edad</label>
        <input id="age" name="age">
        <label for="image">Imagen</label>
        <input type="file" id="image" name="image"></input>
        <input type="submit">
    </form>
</div>

<script src="js/newPet.js"></script>