<div>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<div>
    <p>Oye :) También te puedes loguear por:</p>
    <a href="/api/sessions/github"><button>Github</button></a>
</div>
<script src="/js/login.js"></script>