<div>
    <h1>Creador de Obras de arte</h1>
    <form id="artworkForm">
        <label>Título</label>
        <input name="title">
        <label>Autor</label>
        <input name="author">
        <label>Precio</label>
        <input name="price">
        <label>Copias</label>
        <input name="copies">
        <label>Imagen</label>
        <input type="file" name="image">
        <input type="submit">
    </form>
</div>
<script src="/js/artworkcreator.js"></script>